.img-orkut {
    height: 32px;
    width: 32px;
}

.brand-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-form {
    display: flex;
    background-color: #FDFEFF;
    padding: 1.5rem;
    height: auto;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-block-end: 15vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

h3 {
    font-size: 24px;
    color: #ED6D25;
    font-weight: 600;
}

.birthHelp {
    font-size: 10px;
    color: #ED6D25;
}

.flex-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ED6D25;
    color: #FFF;
    font-size: 18px;
    border-style: none;
    width: 100%;
    margin-top: 1rem;
}

.btn-login {
    background-color: #EFF3F8;
    color: #ED6D25;
    margin-top: 0;
}

.btn-login:hover {
    background-color: #dcdcdc;
    transition: 0.5s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 15vw;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
    width: 15vw;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 3 / 2 / 4 / 3;
    background: url('../../assets/CaretDown.svg') no-repeat right #eff3f8;
    border-radius: 8px;
    margin-block-start: 2vh;
    overflow: hidden;
    height: 5vh;
}

.select {
    color: #868686;
    border: none;
    background: transparent;
    outline: none;
    padding: 2vh 1vw;
    appearance: none;
    width: 100vw;
}


input {
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    font-size: 16px;
    border-style: none;
    border-radius: 8px;
    background-color: #EFF3F8;
}


input::-webkit-input-placeholder {
    color: #868686;
    font-size: 16px;
}

.invalid-input {
    border-style: solid;
    border-color: red;
}

.errors {
    padding-top: 0.5rem;
    color: red;
}

.invalid-input:focus {
    box-shadow: none;
}

@media screen and (max-width: 945px) {
    .container-form {
        width: 90%;
    }

    .div1 {
        width: 35vw;
    }

    .div3 {
        width: 35vw;
    }
}