.searchForm {
    display: none;
    border-radius: 12px;
    background: #EFF3F8;
    margin-block-start: 3vh;
    padding: 0.3rem;
    width: max(20vw);
    margin-inline-end: 4vw;
    align-items: center;
}

.searchInput {
    border: none;
    background: transparent;
    padding: 1.5vh;
    width: 200px;
    outline: none;
}

@media  (max-width: 1200px) {
    .searchForm {
        display: none;
        width: 100%;
        background: #FDFEFF;
        margin-left: 20px;
    }
}
@media  (max-width: 850px) {
    .searchForm {
        display: block;
        margin-inline-start: 10vw;
        width: 80%;
    }
}
@media  (max-width: 600px) {
    .searchForm {
        display: block;
        width: max(89vw);
        margin-inline-start: 4vw;
        margin-bottom: -42px;
    }
}

@media (max-width: 360px) {
    .searchForm {
        margin-inline-start: 5.5vw;
    }
}