.header {
  height: 92px;
  background-color: #fdfeff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.brand {
  color: #ed6d25;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  margin-block: 29px;
  margin-inline-start: 13vw;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-information {
  display: flex;
  margin-inline-end: 13vw;
}

.information {
  margin-block: 34px;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

/* Criação da animação de diminuição */
@keyframes shrinkBrand {
  to {
    margin-left: 0px; /* Ajuste o valor para a posição final desejada */
  }
}

@media screen and (max-width: 768px) {
  .brand {
    animation: shrinkBrand 1.5s ease-in-out forwards; /* Utilizamos 'forwards' para manter a posição final */
  }

  .flex-information {
    display: none;
  }

  .flex {
    justify-content: center;
  }
}

ul {
  list-style: none;
}
