.header {
  display: block;
  margin: 0;
  background-color: #fdfeff;
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (min-width: 768px) {
  .searchForm {
    display: flex;
    width: max(89vw);
    margin-bottom: -42px;
    height: 44px;
    margin-top: 20px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  color: #ed6d25;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  margin-block: 29px;

  margin-inline: 1.5vw 4vw;
}

.navList {
  display: flex;
  list-style-type: none;
}

.navList a:hover {
  color: #ed2590;
  transition: color 0.4s;
}

.navChild {
  margin-inline: 0px 40px;
  padding-block-start: 10px;
}

.link {
  text-decoration: none;
  color: #4b4b4b;
}

.searchForm {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #eff3f8;
  padding: 8px;
  margin-block: 24px 24px;
  height: 44px;
}

.searchInput {
  border: none;
  background: transparent;
  padding: 4px;
  margin-right: 8px;
  width: 200px;
  position: absolute;
  top: 2.5vh;
  margin-left: 26px;
  outline: none;
}

.user {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-inline-start: 40px;
}

.userImg {
  width: 40px;
  height: 40px;
  top: 25px;
  left: 1418px;
  border-radius: 80px;
}

.user li {
  padding-inline-end: 1rem;
}

.user p {
  white-space: nowrap;
}

@media (max-width: 360px) {
  .header {
    width: 100%;
    height: 80px;
    padding-block-start: 3vh;
  }

  .logo {
    height: 20px;
    width: auto;
    margin-inline-start: 2rem;
    padding-inline-end: 2rem;
  }

  .navChild {
    display: none;
  }

  .searchForm {
    display: none;
    height: 44px;
  }

  .user p {
    display: none;
  }

  .userImg {
    border-radius: 80px;
  }

  .caret {
    margin-inline-start: -2rem;
    height: 16px;
  }
}
